/* FRONT */
#front {
  background: $yellow;
  color: $pink;
  height: 100vh;
  padding-top: 2rem;
}

#front > .inner {
  align-items: center;
  display: flex;
  justify-content: center;
}

#front > .inner img {
  width: 100%;
  padding: 0 1rem;
}
