/* TICKETS */
#tickets {
  text-align: center;
}

#tickets article {
  flex: 0 1 30%;
}

#tickets article > .price {
  font-size: 4rem;
  color: $pink;
}

@media screen and (max-width: 35rem) {
  #tickets article {
    flex: 1 1 90%;
  }
}
