/* TIMETABLE */
#timetable article {
  flex: 0 1 48%;
  border: 0.2rem solid $pink;
  margin-top: 2rem;
  outline: 0.2rem solid $pink;
}

#timetable article > ul > li {
  margin: 0;
  padding: 0.5rem;
  color: $pink;
}

#timetable article > ul > li:nth-child(2n) {
  background: $pink-light;
  color: $yellow-light;
}

#timetable article > ul > li > span:first-child {
  margin-right: 1rem;
}

@media screen and (max-width: 35rem) {
  #timetable article {
    flex: 1 1 90%;
  }
}
