/* TIMETABLE */
#timetable article {
  flex: 0 1 48%;
  border: 0.2rem solid #ED2F81;
  margin-top: 2rem;
  border: 0.2rem solid #FCFAEA;
  outline: 0.2rem solid #ED2F81;
}

#timetable article > ul > li {
  margin: 0;
  padding: 0.5rem;
  color: #ED2F81;
}

#timetable article > ul > li:nth-child(2n) {
  background: #F1569A;
  color: #FCFAEA;
}

#timetable article > ul > li > span:first-child {
  margin-right: 1rem;
}

@media screen and (max-width: 35rem) {
  #timetable article {
    flex: 1 1 90%;
  }
}
