/* Colors */
$dark-grey: #2d3539;
$pink: #e62a78;
$pink-light: #ed3182;
$yellow: #edea90;
$yellow-light: #fcfaea;
$blue: #3f78bb;
$white: #ffffff;
$black: #000000;


/* Device Width */
$phablet-width: 30em;
$tablet-width: 48em;
$laptop-width: 62em;
$desktop-width: 75em;

/* Sizes */
$max-width: 65rem;
