{#
 * The template for displaying the footer
 *
 * Contains the closing of the <main>
 *
 */
#}

	</main>

	<footer>
		<div class="inner">
			&copy; {{ "now"|date("Y") }} {{ site.name }}

			<a href="https://neocode.ch" target="_blank" rel="author">neocode</a>
		</div>
	</footer>

	{{ function('wp_footer') }}

</body>
</html>
