{% include 'header.twig' %}

	{% for post in posts %}


		<div class="inner">
			<section class="page">

				<h1>{{ post.title }}</h1>

				<div class="content">
					{{ post.get_content() }}
				</div>

			</section>

		</div>

	{% endfor %}

{% include 'footer.twig' %}
