{% extends "base.twig" %}

{% block content %}

	<section>

		<div class="inner">

			<div class="row-layout">

				{% if posts %}

					{% for post in posts %}

						{% include 'partials/single-news.twig' %}

					{% endfor %}

				{% else %}

			    	<p>{{ __( 'Zurzeit sind keine Neuigkeiten verfügbar', 'neocode' ) }}</p>

			  {% endif %}

			</div>

		</div>

	</section>

{% endblock %}
