.inner {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1rem;
  position: relative;
}

.row-layout {
  align-items: stretch;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
