/* ARTISTS */
.artist {
  flex: 0 1 20%;
  margin: 1rem;
  overflow: hidden;
  position: relative;

  @media #{$small, $medium} {
    flex: 0 1 38%;
  }

  > img {
    width: 100%;
    height: auto;
  }

  > .overlay {
    @include custom-font('Ranga', cursive);
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: rgba(29, 29, 27, 0.5);

    &:hover {
      opacity: 0;
    }

    > p {
      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }

}
