/* FRONT */
.front {
  background: $yellow;
  color: $pink;
  height: 100vh;
  padding-top: 0rem;

  .inner {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      width: 90%;
      padding: 0 1rem;
    }

    .volunteer {
      position: absolute;
      top: 2rem;
      right: 2rem;
      background: $pink;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(15deg);

      > a {
        color: $yellow;
      }
    }
  }

}
