/* FRONT */
#front {
  align-items: center;
  background: $yellow;
  color: $pink;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-top: 0rem;
}

#front img {
  width: 90%;
  padding: 0 1rem;
}
