.impression {
  flex: 0 1 28%;
  overflow: hidden;
  position: relative;

  @media #{$small} {
    flex: 0 1 100%;
  }

  .permanent-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: rgba(29, 29, 27, 0.5);

    &:hover {
      opacity: 0;
    }

    > h2 {
      font-size: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }
}
