/* INFO */
section article.info {
  border: none;
  outline: none;
  margin: 0 0 2rem 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  a {
    margin: 0.5rem 0;
    display: block;
  }
}
