/* SPONSORS */
.sponsors {
  text-align: left;
  width: 100%;

  h2 {
    margin: 2rem 0 1rem 0;
  }

  .sponsor-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .sponsor {
    width: 20rem;
    height: 10rem;
    overflow: hidden;
    background: $white;
    margin: 0 1rem 1rem 0;

    @media #{$small} {
      width: 100%;
      margin: 0 0 1rem 0;
    }

    > a {
      padding: 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        transition: all .3s ease;
      }

      &:hover {
        > img {
          transform:scale(1.05);
        }
      }
    }
  }
}
