/* TICKETS */
.ticket {
  text-align: center;
  flex: 1 1 25%;

  @media #{$medium} {
    flex: 1 1 100%;
  }

  .price {
    font-size: 4rem;
    color: $pink;
    margin-top: 1rem;
  }

  &-info {
    margin: 1rem 0 0;
  }
}
