/* TIMETABLE */
.timetable {
  flex: 1 1 40%;

  @media #{$medium} {
    flex: 1 1 100%;
  }

  > ul > li {
    padding: 0.5rem;
    color: $yellow;

    &:nth-child(odd) {
      background: $yellow;
      color: $pink;
    }

    > span:first-child {
      margin-right: 1rem;
    }
  }
}
