/* TIMETABLE */
.timetable-key {
  color: $primary;
  margin-left: 0.5rem;

  > li {
    display: inline-block;
    margin: 0 0.5rem;
  }
}

.timetable {
  flex: 1 1 40%;
  outline: 0.2rem solid $primary;

  @media #{$medium} {
    flex: 1 1 100%;
  }

  > ul {
    display:table;
    width: 100%;

    > li {
      color: $grey-dark;
      background: $grey;
      display:table-row;

      &:nth-child(even) {
        background: $grey-darker;
      }

      > span {
        padding: 1rem 0.5rem;
        display:table-cell;
        text-align:left;
        break-inside: avoid;

        &:nth-child(1) {
          width: 7.2rem;

          @media #{$medium} {
            width: 4.5rem;
          }
        }

      }
    }
  }
}
