/* TIMETABLE */
.timetable-key {
  color: $yellow;
  margin-left: 0.5rem;

  > li {
    display: inline-block;
    margin: 0 0.5rem;
  }
}

.timetable {
  flex: 1 1 40%;
  border: 0.2rem solid $pink;
  outline: 0.2rem solid $yellow;

  > header {
     background: $yellow;

     > h2 {
       color: $pink;
     }
  }

  @media #{$medium} {
    flex: 1 1 100%;
  }

  > ul {
    display:table;
    width: 100%;

    > li {
      color: $yellow;
      display:table-row;

      &:nth-child(even) {
        background: $yellow;
        color: $pink;
      }

      > span {
        padding: 1rem 0.5rem;
        display:table-cell;
        text-align:left;
        break-inside: avoid;

        &:nth-child(1) {
          width: 7.5rem;
        }

      }
    }
  }
}
