/* VEREIN */
.verein {
  padding: 1rem;
  color: $yellow-light;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  > a {
    margin: 1rem 2rem;
    color: $yellow;

    > i {
      margin-right: 1rem;
    }
  }
}
