/* VEREIN */
.verein {
  padding: 1rem;
  color: $pink;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  > a {
    margin: 1rem 2rem;

    > i {
      margin-right: 1rem;
    }
  }
}
