{% extends "section.twig" %}

{% block content %}

	{% if infos %}

		<div class="column-2">

			{% for post in infos %}

				<article class="info">

					<h2>{{post.title}}</h2>

					<p>{{post.content}}</p>

				</article>

			{% endfor %}

		</div>


	{% else %}

		<p>{{ __( 'Die Informationen werden bald veröffentlicht.', 'neocode' ) }}</p>

	{% endif %}

{% endblock %}
