{% extends "section.twig" %}

{% block content %}

  {% if posts %}

    {% for post in news %}

      {% include 'partials/archive-news.twig' %}

    {% endfor %}

  {% else %}

    <p>{{ __( 'Zurzeit sind keine Neuigkeiten verfügbar', 'neocode' ) }}</p>

  {% endif %}

{% endblock %}

{% block appendix %}
  <a class="button" href="{{ function( 'get_post_type_archive_link', 'news' ) }}">{{ __( 'Alle News Meldungen', 'neocode' ) }}</a>
{% endblock %}
