{% extends "section.twig" %}

{# overwrite title block in base.twig #}
{% block title %}

  <h1><span>{{ post.title }}</span></h1>

{% endblock %}

{% block content %}
  <div class="column-2 contact">
    <p>{{post.content}}</p>
  </div>
{% endblock %}
