/*GENERAL */
body {
  background-color: $yellow;
  color: $black;
  @include custom-font('Raleway', sans-serif);
}

/* LAYOUT */
.inner {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1rem;
  position: relative;
}

.row-layout {
  align-items: stretch;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-2 {
  column-count: 2;
  column-gap: 4rem;
  column-width: 20rem;
  text-align: left;
  width: 100%;
}

main {
  margin-top: 5rem;
}

section {
  padding: 4.5rem 0;
  text-align: center;

  &:nth-child(2n) {
    background-color: $pink;
    color: $white;

    h1 {
      color: $yellow;

      span:before,
      span::after {
        border-color: $yellow;
      }
    }

    article {
      border: 0.2rem solid $pink;
      outline: 0.2rem solid $yellow;

       > header {
         color: $pink;
         background: $yellow;
       }
    }

    .button {
      background-color: $yellow;
      color: $pink;

      &:hover {
        background-color: $pink;
        color: $yellow;
        border: 0.1rem solid $yellow;
      }
    }
  }
}

article {
  border: 0.2rem solid $yellow;
  outline: 0.2rem solid $pink;
  margin: 2rem 1rem 1rem 1rem;
  text-align: left;

  > header {
    color: $yellow-light;
    background: $pink;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;

    > a {
      color: $yellow-light;
    }
  }

  > .content {
    padding: .5rem;
  }
}

/* TEXT / HEADINGS */
h1, h2, nav {
  @include custom-font('Ranga', cursive);
}

h1 {
  color: $pink;
  font-size: 3rem;
  margin-bottom: 1rem;
  overflow: hidden;
	text-align: center;
}

h1 span {
  position: relative;
}

h1 span:before,
h1 span::after {
  content: "";
  border: 0.1rem;
  border-style: solid;
  border-color: $pink;
	position: absolute;
  top: 50%;
	width: $max-width;
}
h1 span:before {
  margin-right: .5em;
  right: 100%;
}
h1 span:after {
  left: 100%;
  margin-left: .5em;
}

a {
  color: $pink;
  outline: none;
  text-decoration: none;
}
