/*GENERAL */
body {
  background-color: $yellow-light;
  color: $dark-grey;
  @include custom-font('Raleway', sans-serif);
}

/* LAYOUT */
.inner {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1rem;
  position: relative;
}

.row-layout {
  align-items: stretch;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-2 {
  column-count: 2;
  column-gap: 4rem;
  column-width: 20rem;
  text-align: left;
}

main {
  margin-top: 5rem;
}

section {
  padding-top: 4.5rem;
  text-align: center;
}



/* TEXT / HEADINGS */
h1, h2, nav {
  @include custom-font('Ranga', cursive);
}

h1 {
  color: $pink;
  font-size: 3rem;
  margin-bottom: 1rem;
  overflow: hidden;
	text-align: center;
}

h1 span {
  position: relative;
}

h1 span:before,
h1 span::after {
  content: "";
  border-top: 0.3rem dotted $pink;
	position: absolute;
  top: 50%;
	width: $max-width;
}
h1 span:before {
  margin-right: .5em;
  right: 100%;
}
h1 span:after {
  left: 100%;
  margin-left: .5em;
}

a {
  color: $pink;
  outline: none;
  text-decoration: none;
}

/* HEADER / NAVIGATION */
body > header {
  background: $pink;
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#logo {
  left: 0;
  position: absolute;
  width: 6rem;
  z-index: 10;
}

#navigation {
  text-align: center;
}

#navigation ul {
  text-transform: uppercase;
  padding: 0 0 1rem 6rem;
}

#navigation ul > li {
  display: inline-block;
  font-size: 2rem;
  margin: 1rem 1rem 0;
}

/* Menu Social Icons Plugin*/
#navigation ul > li.social-icon {
  font-size: 1rem;
}

#navigation ul > li > a {
  color: #E6EB92;
}

#hamburger {
  color: #E6EB92;
  cursor: pointer;
  display: none;
  font-size: 2.5rem;
  line-height: 5rem;
  position: absolute;
  padding: 0 1rem;
  right: 0;
  z-index: 10;
}

@media screen and (max-width: $max-width) {
  #hamburger {
    display: block;
  }

  #navigation ul {
    background: $pink;
    display: none;
    opacity: 0.9;
    padding: 5rem 0 1rem 3rem;
    text-align: left;
  }

  #navigation ul > li:not(.social-icon) {
    display: block;
  }

  #navigation ul > li > a {
    display: block;
  }
}

/* FOOTER */
body > footer {
  background: $yellow;
  color: $pink;
  margin-top: 4rem;
  padding: 2rem 0 0;
  text-align: center;
  text-align: left;
}


body > footer h2 {
  margin: 1rem 0 0.5rem;
}

/* LEGAL */
#legal > .inner {
  text-transform: uppercase;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#legal span:last-child {
  margin-left: auto;
}
