/* BUTTON */
.button {
  background: $primary;
  color: $link;
  font-weight: bold;
  border: 0.1rem solid $primary;
  display: block;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 60%;

  &:hover {
    background-color: inherit;
    color: $primary;
    border: 0.1rem solid $primary;
  }
}

/* LIGTHBOX */
.lity-wrap {
  color: $link;
  width: 90%;
  height: 100%;
  padding: 5em;
  margin: 0 auto;
  overflow: auto;

  @media #{$small, $medium} {
    padding: 1em;
  }

  .lity-title {
    color: $link;
    text-align: center;
    margin-bottom: 2rem;
  }

  .lity-descr {
    margin: 2rem 0;
  }
}


/* SCROLL DOWN */
.scroll-down {
  bottom: 0;
  left: 0;
  padding-top: 80px;
  position: absolute;
  right: 0;

  span {
    animation: scrolldown 1.5s infinite;
    border-left: 0.2rem solid $primary;
    border-bottom: 0.2rem solid $primary;
    box-sizing: border-box;
    height: 24px;
    left: 50%;
    margin-left: -12px;
  	position: absolute;
  	top: 0;
    transform: rotate(-45deg);
  	width: 24px;
  }
}

@keyframes scrolldown {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
