@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-regular.eot');
  src: url('../fonts/Raleway/Raleway-regular.eot?#iefix') format('embedded-opentype'),
       local('Raleway'),
       local('Raleway-regular'),
       url('../fonts/Raleway/Raleway-regular.woff2') format('woff2'),
       url('../fonts/Raleway/Raleway-regular.woff') format('woff'),
       url('../fonts/Raleway/Raleway-regular.ttf') format('truetype'),
       url('../fonts/Raleway/Raleway-regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Ranga';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Ranga/Ranga-regular.eot');
  src: url('../fonts/Ranga/Ranga-regular.eot?#iefix') format('embedded-opentype'), local('Ranga Regular'), local('Ranga-regular'),
       url('../fonts/Ranga/Ranga-regular.woff2') format('woff2'),
       url('../fonts/Ranga/Ranga-regular.woff') format('woff'),
       url('../fonts/Ranga/Ranga-regular.ttf') format('truetype'),
       url('../fonts/Ranga/Ranga-regular.svg#Ranga') format('svg');
}
