body > header {
  background: $pink;
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  #logo {
    left: 0;
    position: absolute;
    width: 6rem;
    z-index: 10;
  }

  #navigation {
    text-align: center;

    ul {
      text-transform: uppercase;
      padding-left: 6rem;
      line-height: 3.5rem;

      > li {
        display: inline-block;
        font-size: 2rem;
        margin: 1rem .5rem 0;

        a {
          color: #E6EB92;
        }
      }
    }

    #hamburger {
      color: #E6EB92;
      cursor: pointer;
      display: none;
      font-size: 2.5rem;
      line-height: 5rem;
      position: absolute;
      padding: 0 1rem;
      right: 0;
      z-index: 10;
    }

    @media screen and (max-width: $max-width) { 
      #hamburger {
        display: block;
      }

      ul {
        background: $pink;
        display: none;
        opacity: 0.9;
        padding: 5rem 0 1rem 3rem;
        text-align: left;

        li:not(.social-icon) {
          display: block;
        }

        li > a {
          display: block;
        }
      }
    }
  }
}
