/* Colors */
$dark-grey: #2d3539;
$pink: #ed2f81;
$yellow: #e6eb92;
$yellow-light: #fcfaea;
$blue: #367bbe;

$primary-color: $dark-grey;
$primary-background: $yellow-light;
$front-background: $yellow;

/* Sizes */
$max-width: 65rem;
