/* Colors */
$dark-grey: #2d3539;
$pink: #ed2f81;
$pink-light: #ed3182;
$yellow: #e6eb92;
$yellow-light: #fcfaea;
$blue: #367bbe;
$white: #fff;

$primary-color: $dark-grey;
$primary-background: $yellow-light;
$front-background: $yellow;

/* Sizes */
$max-width: 70rem;
