/*GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #FCFAEA;
  color: #374046;
  font-family: 'Roboto Slab', serif;
}

/* LAYOUT */
.inner {
  position: relative;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 65rem;
}

main > section {
  padding-top: 4.5rem;
}

header {
  background: #ED2F81;
  color: #FCFAEA;
  text-align: center;
  font-size: 1.2rem;
}

article > header {
  padding: 0.5rem 0;
}

.row-layout {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.column-layout {
  flex: 0 1 50%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

/* TEXT / HEADINGS */
h1, h2, #navigation {
  font-family: 'Ranga', cursive;
}

h1 {
  color: #ED2F81;
  font-size: 3rem;
	text-align: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

h1 span {
	position: relative;
}

h1 span:before,
h1 span::after {
  content: "";
	position: absolute;
	border-top: 0.3rem dotted #357ABE;
	width: 60em;
	top: 50%;
}
h1 span:before {
  right: 100%;
  margin-right: .5em;
}
h1 span:after {
	left: 100%;
	margin-left: .5em;
}

/* LISTINGS */
ul > li {
  list-style-type: none;
}

/* LINK / BUTTON */
a {
 text-decoration: none;
 outline: none;
 color: #ED2F81;
}

.button {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem;
  width: 60%;
  border: 0.2rem solid #ED2F81;
}

/* HEADER / NAVIGATION */
body > header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > header {
  background: #E6EB92;
  color: #ED2F81;
  text-align: center;
  padding-top: 2rem;
}

body > header img {
  width: 100%;
  padding: 0 1rem;
}

#logo {
  position: absolute;
  left: 0;
  width: 6rem;
  z-index: 10;
}

#navigation {
  background: #ED2F81;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  height: 5rem;
}

#navigation ul {
  text-transform: uppercase;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

#navigation ul > li {
  margin: 1rem 1rem 0;
  display: inline-block;
  font-size: 2rem;
}

#navigation ul > li > a {
  color: #E6EB92;
}

#hamburger {
  position: absolute;
  right: 0;
  color: #E6EB92;
  cursor: pointer;
  font-size: 2.5rem;
  line-height: 5rem;
  padding: 0 1rem;
  display: none;
  z-index: 10;
}

@media screen and (max-width: 64rem) {
  #hamburger {
    display: block;
  }

  #navigation ul {
    text-align: left;
    padding-top: 5rem;
    padding-left: 3rem;
    display: none;
    background: #ED2F81;
    opacity: 0.9;
  }

  #navigation ul > li:not(.social) {
    display: block;
  }

  #navigation ul > li > a {
    display: block;
  }
}

/* SCROLL DOWN */

#scroll-down {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
	padding-top: 80px;
}
#scroll-down span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 0.2rem solid #ED2F81;
	border-bottom: 0.2rem solid #ED2F81;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: scrolldown 1.5s infinite;
	animation: scrolldown 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes scrolldown {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes scrolldown {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

/* ARTISTS */
.artist {
  flex: 0 1 20%;
  width: 50%;
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E6EB92;
}

.artist:hover .overlay {
  opacity: 1;
}

.overlay > p {
  color: #ED2F81;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 35rem) {
  .artist {
    flex: 0 1 40%;
  }
}

/* LIGTHBOX */
.lity-title {
  color: #FFF;
  text-align: center;
}

.lity-descr {
  color: #FFF;
  margin: 1rem 1rem 0;
}

.lity-wrap {
  overflow: auto;
}


/* TIMETABLE */
#timetable article {
  flex: 0 1 48%;
  border: 0.2rem solid #ED2F81;
  margin-top: 2rem;
  border: 0.2rem solid #FCFAEA;
  outline: 0.2rem solid #ED2F81;
}

#timetable article > ul > li {
  margin: 0;
  padding: 0.5rem;
  color: #ED2F81;
}

#timetable article > ul > li:nth-child(2n) {
  background: #F1569A;
  color: #FCFAEA;
}

#timetable article > ul > li > span:first-child {
  margin-right: 1rem;
}

@media screen and (max-width: 35rem) {
  #timetable article {
    flex: 1 1 90%;
  }
}

/* TICKETS */
#tickets {
  text-align: center;
}

#tickets article {
  flex: 0 1 30%;
  border: 0.2rem solid #ED2F81;
  margin-top: 2rem;
  border: 0.2rem solid #FCFAEA;
  outline: 0.2rem solid #ED2F81;
}

#tickets article > .price {
  font-size: 4rem;
  color: #ED2F81;
}

@media screen and (max-width: 35rem) {
  #tickets article {
    flex: 1 1 90%;
  }
}

/* INFO */
#info article {
  padding: 1rem;
}

/* VEREIN */
#verein p {
  padding: 1rem;
}


@media screen and (max-width: 35rem) {
  #verein .column-layout,
  #info .column-layout {
    flex: 1 1 90%;
  }
}


/* FOOTER, SPONSORS */
body > footer {
  background: #E6EB92;
  color: #ED2F81;
  text-align: center;
  padding: 2rem 0 0;
  text-align: left;
}

body > footer .column-layout {
  padding: 1rem;
}

body > footer h2 {
  margin: 1rem 0 0.5rem;
}

#presenter,
#main-sponsor {
  width: 90%;
  background: #FCFAEA;
  padding: 1rem;
}

/* LEGAL */
#legal > .inner {
  text-transform: uppercase;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#legal span:last-child {
  margin-left: auto;
}
