{% extends "blueprint-single.twig" %}

{% block wrapper_in %}

	<article class="news" id="post-{{ post.id }}">

{% endblock %}

{% block post_title %}

	<header>
    	<a href="{{ post.link }}"><h2>{{ post.title }}</h2></a>
    </header>

{% endblock %}

{% block post_content %}

	<!-- Post content -->
	<div class="content">
    	{{ post.get_preview(20) }}
	</div>

{% endblock %}

{% block wrapper_out %}

	</article>

{% endblock %}