<section class="front">

  <div class="inner">

    <div class="volunteer">
      <a href="mailto:">
        <span>Mithelfen und Gratis ans Openair Malans</span>
      </a>
    </div>

    <a href="#">
      <img
        src="{{theme.link}}/dist/images/front.png"
        alt="Front {{ site.name }}">
    </a>
  </div>

  <a class="nav-main-link scroll-down" href="#news">
    <span></span>
  </a>

</section>
