<section class="front">

  <div class="inner">

    <div class="volunteer">
      <a href="mailto:?subject=Bewerbung%20als%20Krampfer&body=Hallo%20liebes%20OAM-Team%0A%0AIch%20w%C3%BCrde%20gerne%20am%20Openair%20Malans%20mithelfen.%0A%0AMein%20Name%3A%20%0AE-Mail%3A%20%0AMobil%3A%20%0A%0ABevorzugter%20Einsatzort%3A%20%0AM%C3%B6gliche%20Zeiten%3A%20%0A%0ALiebe%20Gr%C3%BCsse%0A%0A">
        <span>Mithelfen und gratis ans Openair Malans</span>
      </a>
    </div>

    <a href="#">
      <img
        src="{{theme.link}}/dist/images/front.png"
        alt="Front {{ site.name }}">
    </a>
  </div>

  <a class="nav-main-link scroll-down" href="#news">
    <span></span>
  </a>

</section>
