<section id="front">
  <a href="#">
    <img
      src="{{theme.link}}/dist/images/front.png"
      alt="Front {{ site.name }}">
  </a>
  <a id="scroll-down" class="move-to-trigger" href="#artists">
    <span></span>
  </a>
</section>