<section id="front">
  <div class="inner">
    <a href="#">
      <img
        src="{{theme.link}}/dist/images/front.png"
        alt="Front {{ site.name }}">
    </a>
  </div>

  <a id="scroll-down" class="move-to-trigger" href="#artists">
    <span></span>
  </a>
  
</section>
